/* NAV */
:root {
    --bg-color1: #077054;
    --bg-color2: #E0DFDC;
}

.memberCenter {
    background-color: var(--bg-color2);
    color: black;
    padding: 5px 15px 5px;
    border-radius: 5px;

}

.memberNav {
    display: flex;
    border: var(--bg-color2) solid 1px;
    border-radius: 15px;
    text-align: center;
    min-height: 721px;
}

.memberNav ul {
    margin: 15px auto 15px;
    padding: 0;
    list-style-type: none;
    font-size: 24px;
}

.memberNav a {
    border-radius: 5px;
    padding: 5px 15px 5px;
    display: block;
    color: black;
}

.memberNav li :hover {
    background-color: var(--bg-color1);
    color: white;
}

a.memberNav-picked {
    background-color: var(--bg-color1);
    color: white;

}

/* public */

.title {
    font-size: 40px;
    margin: 15px 0 15px;
    width: 100%;
}

.txtshort {
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

}

.checked-btn:checked {
    accent-color: #077054;
}

.bg1btn {
    background-color: var(--bg-color1);
    color: white;
    font-size: 20px;
    height: min-content
}

.bg1btn:hover {
    background-color: var(--bg-color1);
    opacity: 95%;
    color: white;
}

/* .billFilter{
    width: 100%; 
    display: flex; 
    text-align: center;
} */

.bg2btn {
    font-size: 20px;
    border: var(--bg-color1) 1px solid;
    color: var(--bg-color1);
}

.bg2btn:hover {
    background-color: var(--bg-color1);
    color: white;
}

.secondHandBookP3Bar {
    display: flex;
}

.Listfilter input[type="radio"] {
    display: none;
}

.Listfilter {
    text-align: right;
    width: 50%;
}

.Listfilter span {

    padding: 5px 15px 5px;

}


.Listfilter input:checked+span {

    /* padding: 5px 10px 5px; */
    color: white;
    background-color: var(--bg-color1);

}

.Listfilter input+span:hover {
    color: var(--bg-color1);
    background-color: var(--bg-color2);
    /* color: white;
    background-color: var(--bg-color1); */
}

.Listfilter form {
    margin: 5px 0 0;
}

.saleApplyButton {
    width: 50%;
    text-align: left;
}


/* .fulltitle[fulltitle]:hover::after {
    content: attr(fulltitle);
    position: absolute;
    top: -35px;
    left: 0;
    text-align: center;
    z-index: 100;
    background-color: var(--bg-color2);
    min-width: 300px;
    width: max-content;
}

.fulltitle {
    position: relative;
} */



/* !!!!!!!!!! */
.order .accordion-body img {
    object-fit: contain;
    height: 100px;

}

/* !!!!!!!!!! */
.order .accordion-button {
    --bs-accordion-active-bg: var(--bg-color1);
    --bs-accordion-active-color: white;
    width: 100%;
}

/* !!!!!!!!!! */
.order .collapsed {

    background-color: var(--bg-color2);
    /* color: black; */
    font-weight: lighter;
    width: 100%
}



/* .areaLeft{
    border: var(--bg-color2) solid 1px;
    border-radius: 15px;
}
.areaRight{
    border: var(--bg-color2) solid 1px; 
    border-radius: 15px;
} */


/* content */
.memberContent {
    display: flex;
    flex-wrap: wrap;
    border: var(--bg-color2) solid 1px;
    border-radius: 15px;
    padding: 15px 30px 15px;
    min-height: 812.8px
}

.Content{
    width: 100%;
}

/* #URL, #URL a{  
    color: black;
    width: 100%;

} */


.acd-h {
    font-size: 20px;
    flex: 1;
    font-weight: bold
}

/* .accordion{
    width: 100%;
} */
/* .accordion-button{
    background-color: #399D26;
} */



.productList table,
tr,
th,
td {

    /* border: var(--bg-color1) 1px solid; */
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: black;
}

.billDetail th.orderProcess {
    text-align: right;
}

.billDetail tr th {
    padding: 10px 10px 10px 15px;
    text-align: left;
    font-weight: bolder
}

.billDetail td,
.billDetail td span {
    text-align: left;
    color: black;
}

.memberContent .fa-solid {
    color: var(--bg-color1);
    width: 25px;
    text-align: center;
}

.font-sm {
    font-size: 20px;
}

.font-m {
    font-size: 25px;
}
.font-bold{
    font-weight: bold;
}

.memberContent a {
    color: var(--bg-color1);
}

/* Index */

.ShoppingMoneyRecord,.FavoriteCount,.couponCount{
    width: calc(100% / 3);
}

.flexClass{
    display: flex;
    width: 100%;
}

.IndexName{
    width: 80%;
}
.IndexArrow{
    width: 20%;
    text-align: center;
}

.orderCountList{
    margin: 25px;
    padding-left: 10px ;
    border-left: 1px solid var(--bg-color1);
}



/* favoritesList */

.favoritesList{
    width: 100%;
    display: flex;
    height: fit-content;
    
}

.favoritesList th {
    margin: 0;
    background-color: var(--bg-color1);
    color: white;
    padding: 10px;

}

.favoritesList>table {
    border: var(--bg-color2) 1px solid;
    border-radius: 15px;
    width: 100%;
    flex: 1;
}

.favoritesList img {
    height: 100px;
    object-fit: contain;
}

.favoritesList table,
tr,
th,
td {
    padding: 10px;

}

/* coupon */

.couponChange {
    padding-right: 25px;
    flex: 1;
    /* display: flex; */
    text-align: left;
    width: 100%;
}

.couponList .btn {
    border: var(--bg-color1) 1px solid;


}

.couponList .btn:hover {
    background-color: var(--bg-color1);
    color: white;

}

.couponList {
    text-align: center;
}

.couponHeader>.btn {
    border: 0;
    background-color: transparent;
    font-size: 20px;
}

/* dataUpdate */
.dataUpdate input:focus {
    border: var(--bg-color1) 1px solid;
}

.dataUpdate input {
    border-radius: 5px;
    border: var(--bg-color2) 1px solid;
    padding-left: 10px;
    width: 60%;
    font-size: 20px;
}

.dataUpdate {
    font-size: 20px;
    /* padding: auto; */
}

/* dataUpdate */
#twzipcode {
    display: flex;
    /* justify-content: space-between; */
}

#twzipcode>div {
    width: 66%;
}

#twzipcode>span {
    width: 20%;
}

.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location div {
    width: 30%;
}

#twzipcode .form-select {
    font-size: 20px;
    width: 100%;
}

#address_detail {
    width: 100%;
    margin-top: 10px;
}


.Gender{
    width: 100%;
    display: flex;
}
.Gender div.GenderOption {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.Gender div {
    width: 20%;
}
/* #twzipcode div{
    font-size: 25px;
} */

.GenderOption>div {
    width: 30%;
    /* display: inline-block; */
}

.GenderOption label,.GenderOption input {
    text-align: left;
    padding: 0;
}

.GenderOption input{
    width: 30%;
}
.GenderOption label{
    width: 70%;
}

.birth label{
    width: 20%;
}


.submit{
    text-align: center;
}
/* secondBook */

.myListTable {
    border: var(--bg-color2) 1px solid;
    border-radius: 15px;
    width: 100%;
    flex: 1;
    width: fit-content;

}

table.myListTable,
.myListTable th {
    padding: 10px;
    border: var(--bg-color2) 1px solid;

}


.myListTable th {
    background-color: var(--bg-color1);
    color: white;
}

.secondHandBook p {
    background-color: var(--bg-color1);
    color: white;
    border-radius: 5px;
    border: 0;
    width: fit-content;
    padding: 0 25px 0;
    font-size: 25px;
}

.condition {
    text-align: center;
    height: 40px;

}

input.priceInput {
    width: 100px;
    text-align: center;
    height: 40px;
}

input.priceInput::-webkit-outer-spin-button,
input.priceInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#ISBNInput {
    text-align: left;
    padding-left: 10px;
}

/* message */
.messageList {
    /* background-color: #077054; */
    /* border: #077054 solid 1px; */
    width: 100%;
    text-align: center;
}





/* bookShelf */

.bookshelf {
    display: flex;
    flex-wrap: wrap;
}

.bookshelf_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bookshelf_header li {
    list-style: none;

}

.bookCardList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.bookCardLoop{
    width: 23%;
    display: flex;
    flex-wrap: wrap;
}
.bookCard {

    margin: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 5px 2px #E0DFDC;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.bookCard:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

.bookCard img{
    height: 264px;
    object-fit: contain;
}
.bookCard div{
    padding: 5px 0 5px;
    /* opacity: 0; */
}

.rating {
    justify-content: center;
    width: 100%;
    display: flex;
    cursor: pointer;
}
.star{
    border: 1px solid var(--bg-color1);
    color: white;
}

.bookshelf_insert_ISBN {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    align-items: center;

}

.bookshelf_insert_ISBN label {
    width: 10%;
}

.bookshelf_insert_ISBN input {
    width: 50%;
    padding-left: 10px;
    margin-right: 10px;
    height: fit-content;
}

.bookshelf_insert_ISBN button {
    width: 10%;
    height: fit-content;
    flex-wrap: wrap;
}

.bookshelf_insert_details_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.bookshelf_insert_details_body>div {
    width: 45%;
    padding: 10px;
}

.bookshelf_insert_details_body .bookReview {
    width: 100%;

}

.bookshelf_insert_details_body th,
.bookshelf_insert_details_body td {
    text-align: left;
    padding: 5px;
}
.bookshelf_insert_details_body .rating {
    justify-content: left;
    width: 100%;
    display: flex;
}
.bookshelf_insert_details_body .imgDiv{
    text-align: center;
}
.bookshelf_insert_details_body img {
    height: 280px;
}
.bookshelf_insert_details_body table{
    width: 100%;
}
.bookshelf_insert_details_body th{
    width: 35%;
}

.bookReview{
    width: 100%;
}
.bookReview .card, .bookReview input,.bookReview textarea{
    border: 1px solid var(--bg-color2)
}

.bookshelf_insert_details_footer {
    width: 100%;
    text-align: right;
}

.bookshelf_insert_footer {
    width: 100%;
}

.bookReviewTitle{
    padding: 10px;
    border-radius: 5px;

}
.bookReviewTitle:focus{
    border: 1px solid var(--bg-color1);
    outline: none;
}
.bookReviewText {
    resize: none;
    height: 180px;
    padding: 10px;
    border-radius: 5px;

}
.bookReviewText:focus {
    border: 1px solid var(--bg-color1);
    outline: none;
}

.bookReview .card {
    border: 0;
}

.bookReviewConfirm {
    display: flex;
    justify-content: center;
}

.bookReviewConfirm button {
    margin: calc(var(--bs-modal-footer-gap) * .5);
    ;
}
.edit{
    display: none;
    text-align: right;
}
